<h1>Welcome to Word Count</h1>
<form action="/count">
  <div class="form-group">
    <label for="phrase">Enter a phrase</label>
    <input id="phrase" name="phrase" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="word">Enter a word from the phrase</label>
    <input id="word" name="word" class="form-control" type="text"
  </div>
  <button type="submit" class="btn-success">Count!</button>
</form>
